edx_platform_version: 'open-release/ficus.master'
certs_version: 'open-release/ficus.master'
forum_version: 'open-release/ficus.master'
INSIGHTS_VERSION: 'open-release/ficus.master'
ANALYTICS_API_VERSION: 'open-release/ficus.master'
ANALYTICS_PIPELINE_VERSION: 'open-release/ficus.master'

analytics_pipeline_repo: 
   repo: https://github.com/OpenSaasAU/edx-analytics-pipeline
   version: "{{ ANALYTICS_PIPELINE_VERSION }}"
   path: "{{ HADOOP_COMMON_USER_HOME }}/{{ analytics_pipeline_role_name }}/edx-analytics-pipeline"

EDXAPP_MYSQL_HOST: "db"
EDXAPP_MONGO_HOSTS:
  - "mongo"
MONGO_ADMIN_USER: "admin"
MONGO_ADMIN_PASSWORD: "password"
EDXAPP_MONGO_PASSWORD: 'password'
EDXAPP_ELASTIC_SEARCH_CONFIG:
 - host: "es"
   port: 9200

EDXAPP_CELERY_USER: 'celery'
EDXAPP_CELERY_PASSWORD: 'celery'
   
EDXAPP_MEMCACHE: [ 'memcache:11211' ]
MONGO_CLUSTERED: false
#EDXAPP_LMS_SITE_NAME: 'lms'
#EDXAPP_CMS_SITE_NAME: 'cms'
EDXAPP_RABBIT_HOSTNAME: 'rabbitmq'
EDXAPP_PYTHON_SANDBOX: false
edxapp_cms_gunicorn_host: 0.0.0.0
edxapp_lms_gunicorn_host: 0.0.0.0
insights_gunicorn_host: 0.0.0.0
analytics_api_gunicorn_host: 0.0.0.0
xqueue_gunicorn_host: 0.0.0.0
edxapp_lms_preview_gunicorn_port: 8000
edxapp_cms_gunicorn_port: 8010
edxapp_lms_gunicorn_port: 8000
analytics_api_gunicorn_port: 8100
insights_gunicorn_port: 8110
xqueue_gunicorn_port: 8040

#nginc specific config
EDXAPP_LMS_NGINX_PORT: 80
EDXAPP_CMS_NGINX_PORT: 18010
EDXAPP_LMS_PREVIEW_NGINX_PORT: 18020
INSIGHTS_NGINX_PORT: 18110
ANALYTICS_API_NGINX_PORT: 18100
XQUEUE_NGINX_PORT: 18040


EDXAPP_LMS_NGINX_HOSTNAME: '{{ EDXAPP_SITE_NAME }}'
EDXAPP_CMS_NGINX_HOSTNAME: '{{ EDXAPP_CMS_SITE_NAME }}'
EDXAPP_LMS_PREVIEW_NGINX_HOSTNAME: 'preview.{{ EDXAPP_SITE_NAME }}'
INSIGHTS_NGINX_HOSTNAME: 'insights.{{ EDXAPP_SITE_NAME }}'
ANALYTICS_API_NGINX_HOSTNAME: 'analytics.{{ EDXAPP_SITE_NAME }}'
XQUEUE_NGINX_HOSTNAME: 'xqueue.{{ EDXAPP_SITE_NAME }}'

EDXAPP_COMMENTS_SERVICE_URL: 'http://forums:4567'

NGINX_ENABLE_SSL: False

EDXAPP_LMS_BASE: "{{ EDXAPP_LMS_SITE_NAME }}"
EDXAPP_PREVIEW_LMS_BASE: "preview.{{ EDXAPP_LMS_SITE_NAME }}"
EDXAPP_CMS_BASE: "{{ EDXAPP_CMS_SITE_NAME }}"

edxapp_staticfile_dir: '/edx/var/edxapp/staticfiles'


EDXAPP_PLATFORM_NAME: 'Opensaas Learning Platform'
EDXAPP_SITE_NAME: 'edx.opensaas.local'
EDXAPP_CMS_SITE_NAME: 'studio.edx.opensaas.local'
EDXAPP_ANALYTICS_DASHBOARD_URL: 'https://{{ INSIGHTS_NGINX_HOSTNAME }}'

migrate_db: 'yes'
COMMON_MYSQL_MIGRATE_USER: 'root'
COMMON_MYSQL_MIGRATE_PASS: 'password'
    
XQUEUE_MYSQL_DB_NAME: 'xqueuedb'
XQUEUE_MYSQL_USER: 'xqueue001'
XQUEUE_MYSQL_PASSWORD: 'password'
XQUEUE_MYSQL_HOST: 'db'
XQUEUE_MYSQL_PORT: '3306'

EDXAPP_MYSQL_DB_NAME: 'edxapp'
EDXAPP_MYSQL_USER: 'edxapp001'
EDXAPP_MYSQL_USER_ADMIN: 'root'
EDXAPP_MYSQL_PASSWORD: 'password'
EDXAPP_MYSQL_PASSWORD_ADMIN: 'password'

EDXAPP_MYSQL_CSMH_DB_NAME: "edxapp_csmh"
EDXAPP_MYSQL_CSMH_USER: "{{ EDXAPP_MYSQL_USER }}"
EDXAPP_MYSQL_CSMH_PASSWORD: "{{ EDXAPP_MYSQL_PASSWORD }}"

ANALYTICS_API_DEFAULT_DB_NAME: 'analytics-api'
ANALYTICS_API_REPORTS_DB_NAME: 'reports'

ANALYTICS_API_DATABASES:
  # rw user
  default:
    ENGINE: 'django.db.backends.mysql'
    NAME: '{{ ANALYTICS_API_DEFAULT_DB_NAME }}'
    USER: 'api001'
    PASSWORD: 'password'
    HOST: 'db'
    PORT: '3306'
  # read-only user
  reports:
    ENGINE: 'django.db.backends.mysql'
    NAME: '{{ ANALYTICS_API_REPORTS_DB_NAME }}'
    USER: 'reports001'
    PASSWORD: 'password'
    HOST: "db"
    PORT: '3306'
    

FORUM_MONGO_PASSWORD: 'passsword'
FORUM_MONGO_HOSTS:
  - "mongo"

MONGO_USERS:
  - user: cs_comments_service
    password: "{{ FORUM_MONGO_PASSWORD }}"
    database: cs_comments_service
    roles: readWrite
  - user: edxapp
    password: "{{ EDXAPP_MONGO_PASSWORD }}"
    database: edxapp
    roles: readWrite

ENABLE_DATADOG: False
ENABLE_SPLUNKFORWARDER: False
ENABLE_NEWRELIC: False

INSIGHTS_LMS_BASE: "https://{{ EDXAPP_LMS_NGINX_HOSTNAME }}"
INSIGHTS_CMS_BASE: "https://{{ EDXAPP_CMS_NGINX_HOSTNAME }}"
INSIGHTS_BASE_URL: "https://{{ INSIGHTS_NGINX_HOSTNAME }}"
INSIGHTS_MEMCACHE:
  - "memcache:11211"
ANALYTICS_API_ENDPOINT: "http://analytics:8100/api/v0"
INSIGHTS_DATABASE_NAME: insightsdb
INSIGHTS_DATABASES:
  # rw user
  default:
    ENGINE: 'django.db.backends.mysql'
    NAME: '{{ INSIGHTS_DATABASE_NAME }}'
    USER: 'rosencrantz'
    PASSWORD: 'password'
    HOST: "db"
    PORT: '3306'
    

nginx_xqueue_gunicorn_hosts:
  - xqueue
nginx_lms_gunicorn_hosts:
  - lms
nginx_lms_preview_gunicorn_hosts:
  - lms
nginx_cms_gunicorn_hosts:
  - cms
nginx_analytics_api_gunicorn_hosts:
  - analytics
nginx_insights_gunicorn_hosts:
  - insights


forum_data_dir: "{{ COMMON_DATA_DIR }}/forum"
insights_service_name: insights
analytics_api_service_name: analytics
EDXAPP_ENABLE_RATE_LIMITING: false
EDXAPP_PROFILE_IMAGE_MAX_BYTES: 1048576

EDXAPP_MEDIA_URL:  "/media"
edxapp_data_dir: "{{ COMMON_DATA_DIR }}/edxapp"
edxapp_media_dir: "{{ edxapp_data_dir }}/media"
EDXAPP_PROFILE_IMAGE_MAX_AGE: 31536000

nginx_conf_dir: '/etc/nginx/conf.d'

EDXAPP_YOUTUBE_API_KEY: CHANGE_ME
EDXAPP_AWS_SES_REGION_ENDPOINT: "email-smtp.us-west-2.amazonaws.com"
EDXAPP_AWS_SES_REGION_NAME: "us-west-2"

FORUM_ELASTICSEARCH_HOST: 'es'

EDXAPP_EMAIL_HOST_USER: "emailUser"
EDXAPP_EMAIL_HOST_PASSWORD: "emailPassword"
EDXAPP_EMAIL_HOST: '{{ EDXAPP_AWS_SES_REGION_ENDPOINT }}'
EDXAPP_EMAIL_PORT: 25
EDXAPP_EMAIL_USE_TLS: true

INSIGHTS_EMAIL_HOST: '{{ EDXAPP_EMAIL_HOST }}'
INSIGHTS_EMAIL_HOST_PASSWORD: '{{ EDXAPP_EMAIL_HOST_PASSWORD }}'
INSIGHTS_EMAIL_HOST_USER: '{{ EDXAPP_EMAIL_HOST_USER }}'
INSIGHTS_EMAIL_PORT: '{{ EDXAPP_EMAIL_PORT }}'
INSIGHTS_EMAIL_USE_TLS: '{{ EDXAPP_EMAIL_USE_TLS }}'

ANALYTICS_API_EMAIL_HOST: '{{ EDXAPP_EMAIL_HOST }}'
ANALYTICS_API_EMAIL_HOST_USER: '{{ EDXAPP_EMAIL_HOST_USER }}'
ANALYTICS_API_EMAIL_HOST_PASSWORD: '{{ EDXAPP_EMAIL_HOST_PASSWORD }}'
ANALYTICS_API_EMAIL_PORT: '{{ EDXAPP_EMAIL_PORT }}'
ANALYTICS_API_EMAIL_USE_TLS: '{{ EDXAPP_EMAIL_USE_TLS }}'
ANALYTICS_API_ELASTICSEARCH_LEARNERS_HOST: 'es'


ANALYTICS_API_AUTH_TOKEN: 'CHANGE_ME'
INSIGHTS_DATA_API_AUTH_TOKEN: '{{ ANALYTICS_API_AUTH_TOKEN }}'
EDXAPP_ANALYTICS_API_KEY: '{{ ANALYTICS_API_AUTH_TOKEN }}'
FORUM_API_KEY: 'CHANGE_ME'
EDXAPP_COMMENTS_SERVICE_KEY: '{{ FORUM_API_KEY }}'


INSIGHTS_MKTG_BASE: 'http://www.opensaas.com.au'
EDXAPP_EMAIL_DOMAIN: '@opensaas.local'

INSIGHTS_RESEARCH_URL: '{{ INSIGHTS_MKTG_BASE }}'
INSIGHTS_OPEN_SOURCE_URL: '{{ INSIGHTS_MKTG_BASE }}'
INSIGHTS_FEEDBACK_EMAIL: 'dashboard{{ EDXAPP_EMAIL_DOMAIN }}'
INSIGHTS_SUPPORT_URL: '{{ INSIGHTS_MKTG_BASE }}'
INSIGHTS_SUPPORT_EMAIL: 'dashboard{{ EDXAPP_EMAIL_DOMAIN }}'

EDXAPP_EDXAPP_SECRET_KEY: 'CHANGE_ME'
ANALYTICS_API_SECRET_KEY: '{{ EDXAPP_EDXAPP_SECRET_KEY }}'

EDXAPP_PAYMENT_SUPPORT_EMAIL:
EDXAPP_API_ACCESS_MANAGER_EMAIL: "api-access{{ EDXAPP_EMAIL_DOMAIN }}"
EDXAPP_API_ACCESS_FROM_EMAIL: "api-requests{{ EDXAPP_EMAIL_DOMAIN }}"
EDXAPP_TECH_SUPPORT_EMAIL: 'technical{{ EDXAPP_EMAIL_DOMAIN }}'
EDXAPP_CONTACT_EMAIL: 'info{{ EDXAPP_EMAIL_DOMAIN }}'
EDXAPP_BUGS_EMAIL: 'bugs{{ EDXAPP_EMAIL_DOMAIN }}'
EDXAPP_DEFAULT_FROM_EMAIL: 'registration{{ EDXAPP_EMAIL_DOMAIN }}'
EDXAPP_DEFAULT_FEEDBACK_EMAIL: 'feedback{{ EDXAPP_EMAIL_DOMAIN }}'
EDXAPP_DEFAULT_SERVER_EMAIL: 'devops{{ EDXAPP_EMAIL_DOMAIN }}'
EDXAPP_BULK_EMAIL_DEFAULT_FROM_EMAIL: 'no-reply{{ EDXAPP_EMAIL_DOMAIN }}'
EDXAPP_BULK_EMAIL_LOG_SENT_EMAILS: false
EDXAPP_UNIVERSITY_EMAIL: 'university{{ EDXAPP_EMAIL_DOMAIN }}'
EDXAPP_PRESS_EMAIL: 'press{{ EDXAPP_EMAIL_DOMAIN }}'
INSIGHTS_OAUTH2_KEY: 'CHANGE_ME'
INSIGHTS_OAUTH2_SECRET: 'CHANGE_ME'
EDXAPP_ENABLE_OAUTH2_PROVIDER: true
INSIGHTS_SECRET_KEY: 'CHANGE_ME'

FORUM_USE_TCP: "true"
FORUM_RACK_ENV: "staging"
FORUM_SINATRA_ENV: "staging"

ANALYTICS_PIPELINE_OUTPUT_DATABASE_NAME: "{{ ANALYTICS_API_REPORTS_DB_NAME }}"
ANALYTICS_PIPELINE_OUTPUT_DATABASE:
  username: pipeline001
  password: password
  host: localhost
  port: 3306

ANALYTICS_PIPELINE_INPUT_DATABASE:
  username: "{{ COMMON_MYSQL_READ_ONLY_USER }}"
  password: "{{ COMMON_MYSQL_READ_ONLY_PASS }}"
  host: localhost
  port: 3306