[Unit]
Description=Job that runs the hdfs daemon
Documentation=man:hadoop(1)

[Service]
User={{ hadoop_common_user }}
Type=forking
Environment=statedir=/var/cache/foo
ExecStartPre=/bin/sh -ec . {{ HADOOP_COMMON_CONF_DIR }}/hadoop-env.sh
ExecStart=/bin/sh -ec start-dfs.sh
ExecStop=/bin/sh -ec . {{ HADOOP_COMMON_CONF_DIR }}/hadoop-env.sh && stop-dfs.sh

[Install]
WantedBy=yarn.service